.container {
  background-color: black;
  color: white;
}

/*----------------- Spoons (colours.png) --------------------------*/

a {
  color: white;
}

a:hover {
  color: #2e6da4;
  text-decoration: none;
  opacity: 0.5;
}

#title-spoons {
  width: 150px;
  margin: 10px auto 20px auto;
}

.blocks {
  width: 28%;
  float: left;
  margin-bottom: 20px;
}

.blocks img {
  width: 100%;
  /*margin-bottom: 25px;*/
}

.blocks h5 {
  margin-top: 25px;
}

.left {
  margin-left: 5%;
}

.middle {
  margin-left: 3%;
  margin-right: 3%;
}

.right {
  margin-right: 5%;
}

.blocks h5, h6 {
  text-align: center;
}



/*----------------- Pans & Carets (shapes.png) ------------------------*/

#mobile {
  margin-bottom: 6px;
}

.line p, h4 {
  line-height: 20pt;
}

.span-red {
  color: red;
}



/*----------------------------- MOBILE RESPONSIVE ---------------------*/

@media (max-width: 320px){

  .blocks {
    float: none;
    width: 100%;
  }

  .left, .middle, .right {
    margin: 0;
  }

  .line p, h4 {
    line-height: normal;
  }

  .pan {
    margin-bottom: 6px;
  }

}




